@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?ekfu7f');
  src: url('fonts/icomoon.eot?ekfu7f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ekfu7f') format('truetype'),
    url('fonts/icomoon.woff?ekfu7f') format('woff'),
    url('fonts/icomoon.svg?ekfu7f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-size:before {
  content: '\e913';
}
.icon-delete:before {
  content: '\e911';
}
.icon-edit:before {
  content: '\e912';
}
.icon-exit:before {
  content: '\e910';
}
.icon-eye-open:before {
  content: '\e90e';
}
.icon-eye-closed:before {
  content: '\e90f';
}
.icon-bucket:before {
  content: '\e900';
}
.icon-cash:before {
  content: '\e901';
}
.icon-check:before {
  content: '\e902';
}
.icon-employee:before {
  content: '\e903';
}
.icon-filter:before {
  content: '\e904';
}
.icon-home:before {
  content: '\e905';
}
.icon-location:before {
  content: '\e906';
}
.icon-money:before {
  content: '\e907';
}
.icon-search:before {
  content: '\e908';
}
.icon-settings:before {
  content: '\e909';
}
.icon-team:before {
  content: '\e90a';
}
.icon-team2:before {
  content: '\e90b';
}
.icon-user:before {
  content: '\e90c';
}
.icon-wallet:before {
  content: '\e90d';
}
