<div class="dashboard-cards">
  <div class="dashboard-card">
    <div class="card-content">
      <div class="card-info">
        <span class="card-label">Receita total</span>
        <div class="card-value-container">
          <span class="card-value">{{ formatCurrency(stats()?.totalReceita) }}</span>
        </div>
      </div>
      <div class="card-icon">
        <div class="icon-wallet"></div>
      </div>
    </div>
  </div>

  <div class="dashboard-card">
    <div class="card-content">
      <div class="card-info">
        <span class="card-label">Despesas totais</span>
        <div class="card-value-container">
          <span class="card-value">{{ formatCurrency(stats()?.despesasTotais) }}</span>
        </div>
      </div>
      <div class="card-icon">
        <div class="icon-money"></div>
      </div>
    </div>
  </div>

  <div class="dashboard-card">
    <div class="card-content">
      <div class="card-info">
        <span class="card-label">Lucro líquido</span>
        <div class="card-value-container">
          <span class="card-value">{{ formatCurrency(stats()?.lucroLiquido) }}</span>
        </div>
      </div>
      <div class="card-icon">
        <div class="icon-cash"></div>
      </div>
    </div>
  </div>

  <div class="dashboard-card">
    <div class="card-content">
      <div class="card-info">
        <span class="card-label">Alocação de equipe</span>
        <div class="card-value-container">
          <span class="card-value">{{ formatPercentage(stats()?.alocacaoEquipePercentual) }}</span>
        </div>
      </div>
      <div class="card-icon">
        <div class="icon-team"></div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-charts">
  <div class="chart-container chart-employees">
    <div class="chart-header">
      <h3 class="chart-title">Equipes x Tempo alocado</h3>
    </div>
    <div class="chart-content">
      <div class="chart-wrapper">
        <equipes-chart [equipesData]="alocacaoPorEquipeSignal"></equipes-chart>
      </div>
    </div>
  </div>

  <div class="chart-container chart-overview">
    <div class="chart-header">
      <div class="chart-title-section">
        <h3 class="chart-title">Overview de vendas</h3>
      </div>
    </div>
    <div class="chart-content">
      <receitas-chart [receitaDiaria]="receitaDiariaSignal"></receitas-chart>
    </div>
  </div>

  <div class="chart-container chart-heatmap">
    <heatmap-chart [servicosPorData]="stats()?.servicosPorData || []"></heatmap-chart>
  </div>

  <div class="chart-container chart-status">
    <div class="chart-header">
      <h3 class="chart-title">Status dos serviços</h3>
    </div>
    <div class="chart-content">
      <div class="chart">
        <status-chart [statusData]="statusPorServicoSignal"></status-chart>
      </div>
    </div>
  </div>
</div>
