@use '@ngxpert/hot-toast/styles';
@use 'tailwindcss';

:root {
  --color-primary-1: #176dc6;
  --color-primary-2: #70a4dd;
  --color-primary-3: #bad3ee;
  --color-primary-4: #dcf4ff;
  --color-background: #fff;
  --color-error: #cc3300;
  --color-background-secondary: #f4f7fe;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
