@use 'tailwindcss';

:root {
  --color-primary-1: #176dc6;
  --color-primary-2: #70a4dd;
  --color-primary-3: #bad3ee;
  --color-primary-4: #dcf4ff;
  --color-background: #fff;
  --color-error: #cc3300;
  --color-background-secondary: #f4f7fe;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.shadow-md {
  @apply shadow-md;

  box-shadow: 0 3px 7px 0 rgba(23, 109, 198, 0.2);
}

.shadow-lg {
  @apply shadow-lg;

  box-shadow: 0 3px 7px 0 rgba(23, 109, 198, 0.2);
}

.shadow-2xl {
  box-shadow: 0 3px 7px 0 rgba(23, 109, 198, 0.2);
}
